/* Mostly imported from https://getstream.io/chat/docs/sdk/react/basics/getting_started/ */

#root {
  margin: 5%;
  padding: 2%;
  height: 100%;
  min-height: 600px;
  max-height: 6dvh;
  position: relative;
  display: flex;
  gap: 10;
  overflow-y: clip;
  border-radius: 18px;

  .str-chat {
    height: 100%;
  }

  .str-chat__main-panel-inner {
    min-height: 400px;
    max-height: 400px;
    overflow-y: scroll;
  }

  .str-chat__channel-list {
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 0;
    min-height: 520px;
    max-height: 520px;
    overflow-y: scroll;
    flex-shrink: 0;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
    top: 0;

    &--open {
      width: 30%;
      height: 100%;
      position: absolute;
    }
    transition: width 0.3s ease-out;
  }

  .str-chat__message-input {
    position: sticky;
    bottom: 0;
    box-shadow: 0 1 8px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
  }

  .str-chat__channel {
    flex: 2;
    min-width: 0;
    max-height: 100%;
  }

  .str-chat__main-panel {
    min-width: 0;
    flex: 2;
    height: 100%;

    &--thread-open {
      display: none;
    }
  }

  .str-chat__thread {
    flex: 2;
    height: 100%;
    position: absolute;
    z-index: 1;
  }

  .str-chat__channel-header .str-chat__header-hamburger {
    width: 30px;
    height: 38px;
    padding: var(--xxs-p);
    margin-right: var(--xs-m);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: transparent;
    position: sticky;
    top: 0;

    &:hover {
      svg path {
        fill: var(--primary-color);
      }
    }
  }

  @media screen and (min-width: 768px) {
    .str-chat__channel-list {
      width: 30%;
      position: initial;
      z-index: 0;
    }

    .str-chat__thread {
      position: initial;
      z-index: 0;
    }

    .str-chat__channel-header .str-chat__header-hamburger {
      display: none;
    }
  }

  @media screen and (min-width: 1024px) {
    .str-chat__main-panel {
      min-width: 0;

      &--thread-open {
        max-width: 55%;
        display: flex;
      }
    }

    .str-chat__thread {
      max-width: 45%;
    }

    .str-chat__channel-header .str-chat__header-hamburger {
      display: none;
    }
  }
}
