.search-bar {
  background-color: #8895b4;
  width: 100%;
}

.search-bar.dropdown-toggle::after {
  border-top-color: transparent;
}

.gundam-model-position {
  filter: drop-shadow(20px 5px 4px rgba(0, 0, 0, 0.3));
  top: -20%;
  left: 60%;
}
.gundam-landing-position {
  filter: drop-shadow(20px 5px 4px rgba(0, 0, 0, 0.3));
  width: 43%;
  height: auto;
  top: -25%;
  left: 55%;
}

.hero-section {
  background-image: url("/images/hero-01.jpg");
  background-size: cover;
}
.pikachu-position {
  filter: drop-shadow(20px 5px 4px rgba(0, 0, 0, 0.25));
  width: 20%;
  height: auto;
  top: -50%;
  right: 80%;
}

.smiski-position {
  filter: drop-shadow(20px 5px 4px rgba(0, 0, 0, 0.25));
  width: 21%;
  height: auto;
  top: -40%;
  left: 80%;
}
.bullbasaur-position {
  filter: drop-shadow(15px 30px 20px rgba(0, 0, 0, 0.25));
  width: 70%;
  height: auto;
  top: -40%;
  left: 23%;
}
.extra-margin-top {
  padding-top: 7rem;
}

.smiski-login-position {
  filter: drop-shadow(20px 5px 4px rgba(0, 0, 0, 0.3));
  bottom: -35%;
  left: 80%;
  width: 65%;
  height: auto;
}

.drop-shadow {
  filter: drop-shadow(20px 5px 4px rgba(0, 0, 0, 0.3));
}

.card-max {
  display: none;
}
.card-min {
  display: flex;
}

@media screen and (width >= 995px) {
  .card-max {
    display: flex;
  }
  .card-min {
    display: none;
  }

  .search-bar {
    width: 387px;
  }
}

.card-max hr {
  color: black;
  text-align: center;
  overflow: visible;
  opacity: 1;
}

.card-max hr::after {
  color: black;
  background: #e6e9ee;
  content: "OR";
  padding: 0 4px;
  position: relative;
  top: -13px;
}

.caption {
  font-size: 12;
  color: gray;
}

.sm-d-shadow {
  box-shadow: 1px 1px 5px gray;
}

.custom-sm-text {
  font-size: small;
}
.custom-shadow-secondary {
  text-shadow: 5 5 10 #ff6b35;
}
.thumbnail-img {
  object-fit: contain; /* keeps image from overflowing */
  max-height: 100%;
}
